/* 2 - media query */
h1 {
    color: red;
}

@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

/* 3 - min-width */
p {
    background-color: red;
    color: black;
}
@media screen and (min-width: 800px) {
    p {
        background-color: #789;
        color: red;
    }
}

/* breakpoints mais utilizados na web */
/* 600px e abaixo: celular
768px até 600px: tablets
992px até 768px: mini laptops
992px e acima: laptops e desktop */

/* 4 - landscape */
h3 {
    display: none;
}

@media screen and (orientation: landscape) {
    h3 {
        display: block;
    }
}
